<% @articles.each do |article| %>
    <div class="article">
    <h2 class="light-grey-font big_font"><%= link_to article.title, article, {:class => "light-grey-font"} %></h2>
	<p class="light-grey-font small_font">posted at: <%= article.created_at.strftime('%D')%></p>
	<p class="light-grey-font med_font"><%= article.synopsis %></p>
    <!-- <%= article.body %> -->
	</div>
<% end %>
	
