body{
	background-color: #FFF;  /*#0f0f0f;*/
}
	#header{
		width: 1000px;
		height: 150px;
		position: absolute;
		margin: 0px;
		top: 0px;
		left: 0px;
	}
	
	
	#content{
		width: 700px;
		height: 100%;
		position: absolute;
		top: 150px;
		left: 50px;
		padding: 10px 0px 20px 10px;
	}
	
	.block{
		/*border: 1px solid #999;*/
		display: inline;
		float: left;
		position:absolute;
		z-index: 0;
		background-image: url(/../images/rounded_block_white.png);
		background-repeat: no-repeat;
	}
	
	/* styles for the error div 
	.errors{
		background-color: yellow;
		position: relative;
		width: 400px;
		height: 100px;
		top: 200px;
		left: 420px;
		z-index: 10;
		font-family: "Lucida Grande", Geneva, sans-serif;
	}
	*/
	
	/* styles for the error div */
	.notice, .errors{
		background-color: #8fd8b2;
		position: relative;
		width: 400px;
		height: auto; /*100px;/*30%;*/
		top: 180px;
		left: 400px;
		z-index: 10;
		font-family: "Lucida Grande", Geneva, sans-serif;
	}
	
	.errors{
		background-color: yellow;
	}
	
	.notice p, .errors p{
		text-align: center;
	}
	
	/* Font specific style classes */
	
	.huge_font{
		font: 200% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	}
	
	.big_font{
		font: 125% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	}
	
	.med_font{
		font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	}
	
	.small_font{
		font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	}
	
	.tiny_font{
		font: 50% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	}
	
	.micro_font{
		font: 20% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	}
	
	.article-font{
		font-size: .85em;
		font-family: "Lucida Grande", Helvetica, Geneva, sans-serif;
	}
	
	/* Font color classes*/
	.dark-blue-font{
		color: #123456;
	}
	
	.light-grey-font{
		color: #123456; /*#fedcba;*/
	}
	
	.white-font{
		color: #000; /*#FFFFFF;*/
	}
	
	.black-font{
		color: #000;
	}
	
	/*Text decorations*/
	.dashed-underline{
		border-bottom: 1px dashed #123456; /*#fedcba;*/
	}
	
	.solid-underline{
		border-bottom: 1px solid #123456; /*#fedcba;*/
	}
	
	.dotted-underline{
		border-bottom: 1px dotted #123456; /*#fedcba;*/
	}
	
	/*layout type stylings*/
	/*displays an element inline.  Really meant to be used with P tags*/
	.inline {
		/*width: 30%;
		position: relative;
		top: -50px;
		left: 300px;
		margin: 0px;*/
		width: 300px;
		float: left;
	}
	
	.inline p{
		padding: 12px 0px 12px 0px;
	}
	
	.clear {
		clear: both;
	}
	
	.poster{
		/*postion:relative;
		top: 0px;
		left: 0px;
		width: 50%;
		margin: 0px;*/
		float: left;
		width: 400px;
	}
	
	.poster p{
		padding: 0px;
	}
	
	.comment-body{
		margin: 0px;
		float:left;
		width: 865px;
	}
	
	.text_area{
		padding: 20px 0px 20px 0px;
	}
	
	/*borders*/
	.red-border{
		border: 1px solid #ff0000;
	}
	
	.blue-border{
		border: 1px solid #0000ff;
	}
	
	.green-border{
		border: 1px solid #00ff00;
	}
	
	.yellow-border{
		border: 1px solid #00ffff;
	}
	
	
	/* Header specific styles */
	
	.hdr_content{
		position: absolute;
		top: 100px;
		left: 0px;
		width: 1150px;
		height: 30px;
		/*background-color: #DDD; #cba987; /*#bcdcac;*/
		/*background-image: url(/../images/hdr_rounded.png);
		background-repeat: no-repeat;*/
		/*background-color: transparent;*/
		z-index: 2;
		padding: 20px 0px 0px 0px;
		
	}

	.hdr_content p{
		/*color: #123456;*/
		/*color: #012345;*/
		padding: 0px 10px 0px 10px;
		/*font-family: Helvittica,Georgian, sans-serif;*/
	}
	
	
	.block p{
		display: inline;
		width: 100%;
	}
	
	.see-through{
		opacity: 0.7;
		-moz-opacity: 0.7;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
	}
	
	.opaque{
		opacity: 1;
		-moz-opacity: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter:alpha(opacity=1);
	}
	
	/* Navigation specific styles (links in the header) */
	
	.nav{
		list-style-type: none;
		display: inline;
		width: 100%;
		padding: 10px 0px 10px 0px;
		margin: 0px;
	}
	
	.nav li{
		text-align: center;
		display: inline;
		color: #012345;
	}
	
	.nav li a{
		width: auto;
		padding: 2px 10px 20px 10px;
		height: 10%;
		color: #012345;
	}
	
	.nav li p{
		display: inline;
	}
	
	.nav li a.lt_grey{
		width: auto;
		padding: 2px 10px 10px 10px;
		height: 10%;
		color: #fedcba;
	}
	
	#comment_nav{
		margin: 0px 0px 40px 0px;
	}
	
	/*article specific styles*/
	.article{
		padding: 20px 0px 10px 0px;
		width: 100%;
		border-bottom: 1px dashed #123456; /*#edcba9;*/
	}
	
	.article-body{
		margin-bottom: 20px;
		padding: 10px 0px 10px 0px;
		width: 100%;
	
	}
	
	/*styling for textile tables*/
	.textile-table{
		border-width: 0px 1px 1px 0px;
		border-style: solid;
		border-color: #123456; /*#fff;*/
	}
	
	.textile-table td{
		border-color: #123456; /*#fff;*/
	    border-width: 1px 0px 0px 1px;
	    border-style: solid;
	    margin: 0px;
	    padding: 5px;
	}
	
	/*styling for the login form*/
	.login{
		position: relative;
		top: 25px;
		left: 80px;
		width: 233px;
		z-index: 2;
		padding: 5px 0px 10px 10px;
		background: #8fd8b2; /* #cba987;*/
		
	}
	
	/*generic table styling*/
	.blog_table{
		border-width: 0px 1px 1px 0px;
		border-style: solid;
		border-color: #123456; /*#fff;*/
	}
	
	.blog_table thead td{
		background-color: #DDD;
	}
	
	.blog_table td{
		border-color: #123456; /*#fff;*/
	    border-width: 1px 0px 0px 1px;
	    border-style: solid;
	    margin: 0px;
	    padding: 5px;
		font: .95em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	}
	
	/*Admin Console stylings, beginning with the articles table*/
	#article_list{
		position: absolute;
		top: 75px;
		left: 0;
		width: 850px;
		height: auto;
		padding: 10px 0px 20px 0px;
	}
	
	#article_list table{
		border-width: 0px 1px 1px 0px;
		border-style: solid;
		border-color: #123456; /*#fff;*/
	}
	
	#article_list table td{
		border-color: #123456; /*#fff;*/
	    border-width: 1px 0px 0px 1px;
	    border-style: solid;
	    margin: 0px;
	    padding: 5px;
	}
	
	#admin_header{
		width: 1000px;
		height: 75px;
		position: absolute;
		margin: 0px;
		top: 0px;
		left: 0px;
	}
	
	#admin_hdr_content{
		width: 800px;
		height: auto;
		position: absolute;
		top: 40px;
		left: 0px;
		padding: 10px 0px 20px 0px;
	}
	
	.admin_content{
		position: absolute;
		top: 75px;
		left: 0;
		width: 850px;
		height: auto;
		padding: 20px 0px 20px 10px;
	}
	
	
	
	
/*body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}*/

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/*a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }*/

div.field, div.actions {
  margin-bottom: 10px;
}

.notice {
  color: green;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
